<h1>Ready....Set....Bowl</h1>

This is frame <%= @game.frames.length + 1 %> 

<%= form_with scope: :frame, url: game_frames_path, local: true do |form| %>
  <p>
    <%= form.label :ball_one %><br>
    <%= form.number_field :ball_one %>
  </p>

  <p>
    <%= form.label :ball_two %><br>
    <%= form.number_field :ball_two %>
  </p>


    <% if @game.frames.length == 9 %>
      <p>
        <%= form.label :ball_three %><br>
        <%= form.number_field :ball_three %>
      </p>
    <% end %>


  <%= form.hidden_field :frame_number %>

  <p>
    <%= form.submit value = "Bowl!"%>
  </p>
<% end %>
